.DS_Store

/vendor
/node_modules

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/testing/*
!/storage/framework/testing/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
/storage/debugbar/*
!/storage/debugbar/.gitignore
/storage/logs/*
!/storage/logs/.gitignore
/storage/*.key
/public/storage

/_ide_helper.php
/_ide_helper_models.php
/.phpstorm.meta.php

/.phpunit.result.cache
